packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python server/manage.py migrate --noinput"
  02_collectstatic:
    command: "python server/manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server/server/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "server.settings"
    PYTHONPATH: "/opt/python/current/app/FitJournal:$PYTHONPATH"