packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python backend/manage.py migrate --noinput"
  02_collectstatic:
    command: "python backend/manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/server/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"