packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python iotd/manage.py migrate --noinput"
  02_collectstatic:
    Command: "source /opt/python/run/env-name/bin/activate && python server/manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server/server/wsgi.py